body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Fondo más oscuro */
    color: #f4f4f4; /* Color de texto claro */
}

header {
    background: #2c2c2c; /* Fondo del encabezado más oscuro */
    color: white;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el contenido */
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil img {
    width: 300px; /* Ajusta según tu imagen */
    border-radius: 50%;
    border: 4px solid white; /* Añadir borde blanco */
}

h1 {
    margin: 15px 0;
    font-size: 32px; /* Aumentar tamaño de fuente */
}

h2 {
    color: #f4f4f4; /* Color de los títulos */
    font-size: 24px; /* Aumentar tamaño de fuente */
}

main {
    padding: 20px;
}

.acerca-de-mi {
    background-color: #000; /* Fondo negro */
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.estadisticas {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

section {
    margin-bottom: 30px;
}

.habilidad {
    background-color: #003366; /* Fondo azul oscuro */
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.barra-progreso {
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progreso {
    background: #35424a;
    color: white;
    text-align: center;
    padding: 5px 0;
}

.btn {
    background-color: #0066cc; /* Botón azul */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 18px; /* Aumentar tamaño de fuente del botón */
}

.btn:hover {
    background-color: #005bb5; /* Color más oscuro al pasar el ratón */
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #2c2c2c; /* Fondo del pie de página más oscuro */
    color: white;
}
